* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Jost', 'Segoe UI', sans-serif;
  min-height: 100vh;
}













.inscrire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 7rem;
  padding: 40px;
  justify-content: center;
  padding-left: 170px; 
}


.principale{
  width: 95%;
  /* height: 300re; */
  display: block;
  border-radius: 0px 20px 20px 0px;
  background-color: #212129;
}


.title1 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #41A639;
  text-align: center;
}

.form1 {
  background-color: #71E551;
  border-radius: 0px 0px 0px 10px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form1 form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form1 input,
.form1 button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.form1 button {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.form1-content{
    flex-direction: row;
    align-items: center;    
}

.form1-content h3{
    color:black;
    font-size: 35px;
}
.form1-content button{
    width: 80px;
    height: 40px;
}
.form1-content input{
    width: 25rem;
    height: 60px;
    
}
.form1-content h1{
    text-align: center;
    font-weight: 900px;
    color: rgb(26, 109, 44);
    padding-bottom:40px ;
    padding-top: 50px;
    
}
.bienvunue{
    width: 50%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}



.form1 {
  padding: 20px;
  background-color: #71E551;
  border-radius: 20px 0px 0px 20px;
}

.form1 form {
  display: flex;
  flex-direction: column;
}

.form1 input,
.form1 button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.info input{
    font-size: larger;
}

.form1 button {
  background-color: darkgreen;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.title1 {
  color: #41A639;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

.img3 img {
margin-left: 5rem;

}


.container-chek {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}


.container-chek input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}



.container-chek input:checked ~ .checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container-chek input:checked ~ .checkmark:after {
  display: block;
}


.container-chek .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form1-content p{
    color:black;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.facebok button{
    background-color: #06467b;
}
.LinkedIn button{
    background-color: #1c73ba;
}
.Google button{
    background-color: #0cb1ac;
}
.social-media{
    width:  50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
}



  /* tablette (≥768px et <1200px) */

@media (min-width: 768px) and (max-width: 1024) {
 
  .inscrire {
    grid-template-columns: 1fr;
    padding: 40px 100px;
    
  }

  .form1-content input {
    width: 20rem;
    height: 50px;
   
  }
  .principale{
    display: none;
  }

  .form1{
     border-radius: 20px 20px 20px 20px;
     width:40rem;
  }

  .social-media {
    width: 100%;
    justify-content: space-around;
  }
}



/* mobile(<480px) */

@media (max-width: 480px) {


  .inscrire {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .form1-content h1 {
    font-size: 1.5rem;
  }

  .form1-content input {
    width: 90%;
    height: 45px;
  }

  .form1-content button {
    width: 100%;
  }

  .social-media {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
.principale{
    display: none;
}
.form1{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
  
    border-radius: 20px ;
}
.bienvunue button{
    width: 45%;
}

}
